<div style="text-align: center">
  <img src="http://chaplinjs.org/images/chaplin-hat.png" alt="Chaplin">
  <p style="font: 100px bold; margin: 50px 0;">+</p>
  <img src="http://browserify.org/images/browserify.png" alt="Browserify">
  <p style="font: 100px bold; margin: 50px 0;">+</p>
  <img src="http://gulpjs.com/img/gulp.png" alt="Gulp">
  <p style="font: 100px bold; margin: 50px 0;">=</p>
  <img src="http://i.imgur.com/Jyjr8ik.gif">
</div>
